resources:
  repositories:
  - repository: node-repo # The name used to reference this repository in the checkout step
    type: github
    endpoint: dragantvega
    name: dragantvega/cognatatestapp

trigger:
- main

#pool:
#  vmImage: ubuntu-latest

pool: 
   name: Default

steps:
- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- checkout: node-repo
- script: |
    echo "Now in node application repo"
    docker build -t nodeapp:latest  -f nodeapp/Dockerfile.node nodeapp 

- checkout: self

- task: Docker@2
  displayName: Build Docker image
  inputs:
    repository: 'angularapp' # Replace with the name of your Docker image
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: |
      latest

- script: |
   docker-compose down
   docker-compose up -d


